/AcampadasPajara-ejb/nbproject/private/
/AcampadasPajara-war/nbproject/private/
/nbproject/private/
/AcampadasPajara-ejb/dist/
/AcampadasPajara-ejb/build/
/AcampadasPajara-war/build/
/AcampadasPajara-war/dist/
/build/
/dist/